<%= turbo_frame_tag 'rooms_controller' do %>
<%= turbo_stream_from 'room_messages_channel'%>
  <main class="flex w-full h-screen bg-[#181D31]">
    <%= render 'shared/side_bar'%>
    <section class="flex flex-col w-5/6 h-screen gap-5 p-5">
      <%= render 'room', room: @room%>
      <div class="flex flex-col items-center w-full">
        <div class="flex flex-col items-center justify-center w-5/6">
          <div class="w-5/6 p-2 my-5 overflow-y-auto bg-white rounded h-72" id="room_messages_div">
            <% @room.messages.order(:created_at).each do |message| %>
              <%= render 'messages/message', {message: message}%>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center w-5/6">
          <%= render 'messages/form', {room: @room, message: Message.new} %>
        </div>
      </div>
    </section>
  </main>
<% end %>